@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css");

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: black;
  height: 6rem;
  align-items: center;
}
.header-center{
  justify-self: center;
  width: 100%;
  height: fit-content;
}
.header-center img {
  justify-self: center;
  width: 15rem;
  height: auto;
  display: block;
  object-fit: contain;
}
.header-right{
  justify-self: flex-end;
}
#search-btn{
  background: transparent;
  color: white;
  border: none;
  font-size: 25px;
  margin-left: 20px;
  transition: transform 0.5s ease;
  align-self: center;
}
#search-btn:hover{
  transform: scale(1.2);
}
/* Menu Desplegable */
#catalogo-btn{
  background: transparent;
  border: none;
  border-radius: 50%;
  transition: transform 0.5s ease;
  font-size: 30px;
  color: white;
  margin-left: 10px;
}
#catalogo-btn:hover{
  transform: rotate(180deg);
}
.catalogo-dropdown {
  position: relative;
  display: inline-block
}
.catalogo-menu {
  display: none;    
  position: absolute;
  top: 100%;
  margin-left: 10px;
  left: 0;
  background-color: #111;
  border-radius: 8px;
  min-width: 180px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
  z-index: 1000;
  transition: all 0.5 ease;
}
.catalogo-menu a {
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  transition: background 0.3s ease;
  transition: all 0.5 ease;
}
.catalogo-menu a:hover {
  background-color: #444;
  border-radius: 8px;
}
.catalogo-dropdown:hover .catalogo-menu {
  display: block;
}
.header-right a{
  color: white;
  font-size: 25px;
  padding-right: 10px;
}
@media (max-width: 600px) {
  header {
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
    padding: 0.5rem;
  }
  .header-center img {
    width: 10rem;
  }
  .header-right {
    justify-self: center;
  }
  #search-btn, #catalogo-btn, .header-right a {
    font-size: 20px;
    margin-left: 5px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  header {
    grid-template-columns: 1fr 1fr 1fr;
    height: 5rem;
  }
  .header-center img {
    width: 12rem;
  }
  #search-btn, #catalogo-btn, .header-right a {
    font-size: 22px;
  }
}